</div>

 


    <div id="copyright" align="center">
      <div class="container">
        <p class="text-muted credit"> Copyright Matthew Frost 2015.</p>
      </div>
    </div>


  </body>

    <script src="{{paths.theme}}/styles/jquery-1.11.3.min.js"></script>
    <script src="{{paths.theme}}/styles/bootstrap.min.js"></script>

        <script src="{{paths.theme}}/styles/js/ripples.min.js"></script>
        <script src="{{paths.theme}}/styles/js/material.min.js"></script>
        <script src="{{paths.theme}}/styles/js/holder.js"></script>
        <script>
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
            });
        </script>

</html>


