

      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
		<img class="navbar-left" src="{{paths.theme}}/images/logo-small.png" alt="..." >
                <a class="navbar-brand" href="#">MATTRONIX</a>
              </div>
          </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% macro display_menu_item(item, loop) %}
    		  {% from _self import display_menu_item %}
       		    <li class='{% if item|current %}active{% endif %}'>
		    <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}'>
                    {% if item.label is defined %}{{item.label}}{% else %} - {% endif %} </a></li>
		{% endmacro %}

		{% from _self import display_menu_item %}
		  {% for item in menu %}
	          {% if item.label is defined %}
                    {{ display_menu_item(item, loop) }}
                  {% endif %}
                {% endfor %}
              </ul>

	      {% include '_sub_searchbox.twig' %}	      
	   </div>
      	</nav>




