
{% setcontent blogposts = "blog/latest/4" %}

{% for post in blogposts %}


<ul class="media-list">
  <li class="media">
<a  class="pull-left" href="{{ post.link }}">  <img class="img-responsive" src="{% if post.image !="" %}{{ thumbnail(post.image, 42, 42) }}{% else %}holder.js/42x42?text=No Image&bg=fff&outline=yes"{% endif  %}" alt="{{ record.title }}" </img> </a>
    <div class="media-body">
      <a href="{{ post.link }}"><h4 class="media-heading">{{ post.title }}</h4></a>
      {{post.body|excerpt(30)}}
    </div>
  </li>
   <hr>
</ul> 

{% endfor %}
