 {% include '_header.twig' %}
  <div class="container" align="center">
    <div class="row">
      {% if search is defined %}
        <h1>
          {{ __('Search results for <b class="accent">   %search% </font> </b>.', { '%search%': search|escape }) }}
        </h1>
     {% elseif taxonomytype is defined %}
        {# if used for listing a taxonomy: #}
            <h1>
                {{ __('Overview for') }} 
                {% if taxonomy.options[slug] is defined %}
                <b color="red"> {{ taxonomy.options[slug] }} </b>
                {% else %}
                {{ slug }}
                {% endif %}
            </h1>
            {# taxonomies are fetched unordered by design. If we specified an order in config.yml, sort them here: #}
            {% set records = records|order(app.config.get('general/listing_sort')) %}
     {% else %}
        <h1 class="page-header">  {{ contenttype  }}
        </h1>
     {% endif %}
    </div>
  {% for record in records %}
    <div class="blog-post-mattronix well" align="left" style="min-height: 240px;"> 
	<div class="">
    <a href="{{ record.link }}">  <img class="img-responsive" src="{% if record.image !="" %}{{ thumbnail(record.image, 300, 210) }}{% else %}holder.js/300x210?text=No Image&bg=fff&outline=yes"{% endif  %}" alt="{{ record.title }}" </img> </a>
	</div>

    
      <h3> <a href="{{record.link}}"> {{record.title}} </a></h3>
      {{record.body|excerpt(300)}}
      <hr>
{% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
{{ __('Written by <em>%name%</em> on %date%',{ '%name%': record.user.displayname, '%date%': recdate }) }} <br>
      {% include '_sub_taxonomylinks.twig' with {record: record} %}
    </div>
  {% endfor %}
  </div>

<div align="center"> {{ pager() }} </div>
 {% include '_footer.twig' %}









