 {% include '_header.twig' %}


  <div class="container" align="center">
    <div class="row">
      {% if search is defined %}
        <h1>
          {{ __('Search results for <b> %search% </b>.', { '%search%': search|escape }) }}
        </h1>
     {% else %}
        <h1 class="page-header"> Header
        <small> Text Small  </small>
        </h1>
     {% endif %}
    </div>




  {% for record in records %}

    <div class="blog-post-mattronix well" align="left" style="min-height: 240px;"> 
      <a href="{{record.link}}"> <img src="{{ thumbnail(record.image, 300, 200)}}" alt="{{ record.title }}" > </a>
      <h3> <a href="{{record.link}}"> {{record.title}} </a></h3>
      {{record.body|excerpt(300)}}
      <h4> Created by:   {{record.user.displayname}} </h4>
      <hr>
    </div>
  {% endfor %}



  </div>

<div align="center"> {{ pager() }} </div>

 {% include '_footer.twig' %}









