 {% include '_header.twig' %}

<div class="container"> 

<h1>{{ record.title  }}</h1>    
<h4> By {{ record.user.displayname }} </h4>
<hr> 

	<p><span class="glyphonicon glyphicon glyphicon-time"> Posted: {{ record.values.datepublish }} </span></p>
	<p><span class="glyphonicon glyphicon glyphicon-refresh"> Updated: {{ record.values.datechanged}} </span></p>

	<hr>
  <img src="{{ thumbnail(record.image, 900, 300)}}"> </img>

<hr>
 {{ record.body }}

</div>




 {% include '_footer.twig' %}









